
.App-link {
  color: #61dafb;
}

.content {
  margin-top: 2em;
}

.board {
  margin: auto;
  width: 101px;
}

.board-row {
  margin: -2px;
  height: 34px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 1em;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.reset-button {
  margin-top: 1em;
}